// Place all the styles related to the WebSpp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-container {
  height: 600px;
  .issuePic {
    max-width: 200px;
    padding-bottom: 5px;
  }
  span.date {
    font-style: italic;
  }
}

.issue-state {
	width: 60px;
	height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.todo {
  background: red;
}

.in_progress {
  background: yellow;
}

.fixed {
  background: green;
}

.issue-label {
  float: right;
}
