// Place all the styles related to the WebSpp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-container {
  height: 600px;
  .issuePic {
    max-width: 200px;
    padding-bottom: 5px;

    img {
      max-height: 250px;
    }
  }
  span.date {
    font-style: italic;
  }
}

table {
  tr td img {
    max-height: 50px;
  }

  .highlight {
    background-color: lightgrey;
  }

  .buttons {
    display: none;
  }
}
